<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Faculty of Arts and Humanities</key>
	<dict>
		<key>Russian and Slovanic Studies</key>
		<dict>
			<key>Phone</key>
			<string></string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>Philosophy</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 0571</string>
			<key>Email</key>
			<string>philosophy@sheffield.ac.uk</string>
		</dict>
		<key>Music</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 0470</string>
			<key>Email</key>
			<string>music@sheffield.ac.uk</string>
		</dict>
		<key>School of Modern Languages</key>
		<dict>
			<key>Phone</key>
			<string></string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>History</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2555</string>
			<key>Email</key>
			<string>history@sheffield.ac.uk</string>
		</dict>
		<key>Hispanic Studies</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 4396</string>
			<key>Email</key>
			<string>slc-admissions@sheffield.ac.uk</string>
		</dict>
		<key>Germanic Studies</key>
		<dict>
			<key>Phone</key>
			<string></string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>French</key>
		<dict>
			<key>Phone</key>
			<string></string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>School of English</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 8480</string>
			<key>Email</key>
			<string>english@sheffield.ac.uk</string>
		</dict>
		<key>Biblical Studies</key>
		<dict>
			<key>Phone</key>
			<string>0114 222  0507</string>
			<key>Email</key>
			<string>bibs@sheffield.ac.uk</string>
		</dict>
		<key>Archaeology</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2900</string>
			<key>Email</key>
			<string>archaeology@shef.ac.uk</string>
		</dict>
	</dict>
	<key>Faculty of Engineering</key>
	<dict>
		<key>Aerospace Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 7836</string>
			<key>Email</key>
			<string>g.balikhin@sheffield.ac.uk</string>
		</dict>
		<key>Automatic Control and Systems Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5250</string>
			<key>Email</key>
			<string>acse@sheffield.ac.uk</string>
		</dict>
		<key>Bioengineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 7837</string>
			<key>Email</key>
			<string>peter.lomas@sheffield.ac.uk</string>
		</dict>
		<key>Chemical and Biological Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 7500</string>
			<key>Email</key>
			<string>chemeng@sheffield.ac.uk</string>
		</dict>
		<key>Civil &amp; Structural Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5738</string>
			<key>Email</key>
			<string>civil@sheffield.ac.uk</string>
		</dict>
		<key>Computer Science</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 1800</string>
			<key>Email</key>
			<string>dept@dcs.shef.ac.uk</string>
		</dict>
		<key>Electronic and Electrical Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5390</string>
			<key>Email</key>
			<string>c.e.potts@sheffield.ac.uk</string>
		</dict>
		<key>Materials Science and Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5988</string>
			<key>Email</key>
			<string>l.c.mason@sheffield.ac.uk</string>
		</dict>
		<key>Mechanical Engineering</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 7700</string>
			<key>Email</key>
			<string>me-enquiries@sheffield.ac.uk</string>
		</dict>
	</dict>
	<key>Faculty of Medicine, Dentistry and Health</key>
	<dict>
		<key>Cardiovascular Science</key>
		<dict>
			<key>Phone</key>
			<string>0114 226 1432</string>
			<key>Email</key>
			<string>cardiovascularscience@sheffield.ac.uk</string>
		</dict>
		<key>School of Clinical Dentistry</key>
		<dict>
			<key>Phone</key>
			<string>0114 271 7801</string>
			<key>Email</key>
			<string>dental.genenquiries@sheffield.ac.uk</string>
		</dict>
		<key>Human Communication Sciences</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2418</string>
			<key>Email</key>
			<string>hcs-support@lists.sheffield.ac.uk</string>
		</dict>
		<key>Human Metabolism</key>
		<dict>
			<key>Phone</key>
			<string>0114 271 3518</string>
			<key>Email</key>
			<string>humanmetabolism@sheffield.ac.uk</string>
		</dict>
		<key>Infection and Immunity</key>
		<dict>
			<key>Phone</key>
			<string>0114 271 2027</string>
			<key>Email</key>
			<string>p.a.whitaker@sheffield.ac.uk</string>
		</dict>
		<key>The Medical School</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5522</string>
			<key>Email</key>
			<string>med-school@sheffield.ac.uk</string>
		</dict>
		<key>Neuroscience</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2230</string>
			<key>Email</key>
			<string>neuroscience@sheffield.ac.uk</string>
		</dict>
		<key>School of Nursing and Midwifery</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2030</string>
			<key>Email</key>
			<string>hsccpd@sheffield.ac.uk</string>
		</dict>
		<key>Oncology</key>
		<dict>
			<key>Phone</key>
			<string>0114 271 3326</string>
			<key>Email</key>
			<string>oncology@sheffield.ac.uk</string>
		</dict>
		<key>School of Health and Related Research (ScHARR)</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 5454</string>
			<key>Email</key>
			<string>scharr.reception@sheffield.ac.uk</string>
		</dict>
	</dict>
	<key>Faculty of Science</key>
	<dict>
		<key>Animal and Plant Sciences</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 0123</string>
			<key>Email</key>
			<string>animal.plant@sheffield.ac.uk</string>
		</dict>
		<key>School of Mathematics and Statistics</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 3752</string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>Biomedical Science</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2787</string>
			<key>Email</key>
			<string>bmsoffice@sheffield.ac.uk</string>
		</dict>
		<key>Chemistry</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 9300</string>
			<key>Email</key>
			<string>chemistry@sheffield.ac.uk</string>
		</dict>
		<key>Molecular Biology and Biotechnology</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2722</string>
			<key>Email</key>
			<string>MBB@sheffield.ac.uk</string>
		</dict>
		<key>Physics and Astronomy</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 3742</string>
			<key>Email</key>
			<string></string>
		</dict>
		<key>Psychology</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2000</string>
			<key>Email</key>
			<string>psychology@sheffield.ac.uk</string>
		</dict>
	</dict>
	<key>Faculty of Social Science</key>
	<dict>
		<key>Architecture</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 0399</string>
			<key>Email</key>
			<string>ssoa@sheffield.ac.uk</string>
		</dict>
		<key>East Asian Studies</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 8400</string>
			<key>Email</key>
			<string>seas@sheffield.ac.uk</string>
		</dict>
		<key>Economics</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 3398</string>
			<key>Email</key>
			<string>econ@sheffield.ac.uk</string>
		</dict>
		<key>Education</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 8177</string>
			<key>Email</key>
			<string>edu-enquiries@sheffield.ac.uk</string>
		</dict>
		<key>Geography</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 7900</string>
			<key>Email</key>
			<string>geography@sheffield.ac.uk</string>
		</dict>
		<key>Information School</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2630</string>
			<key>Email</key>
			<string>is@sheffield.ac.uk</string>
		</dict>
		<key>Journalism Studies</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2500</string>
			<key>Email</key>
			<string>journalism@sheffield.ac.uk</string>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 0600</string>
			<key>Email</key>
			<string>landscape@sheffield.ac.uk</string>
		</dict>
		<key>Law</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 6771</string>
			<key>Email</key>
			<string>law@sheffield.ac.uk</string>
		</dict>
		<key>Management School</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 3346</string>
			<key>Email</key>
			<string>mgt.operations@sheffield.ac.uk</string>
		</dict>
		<key>Politics</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 1700</string>
			<key>Email</key>
			<string>politics@sheffield.ac.uk</string>
		</dict>
		<key>Sociological Studies</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 6400</string>
			<key>Email</key>
			<string>sociological.studies@sheffield.ac.uk</string>
		</dict>
		<key>Town and Regional Planning</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 6900</string>
			<key>Email</key>
			<string>planning@sheffield.ac.uk</string>
		</dict>
	</dict>
	<key>Professional Services</key>
	<dict>
		<key>CICS</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 1111</string>
			<key>Email</key>
			<string>helpdesk@sheffield.ac.uk</string>
		</dict>
		<key>Human Resources</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 4491</string>
			<key>Email</key>
			<string>hr-enq@sheffield.ac.uk</string>
		</dict>
		<key>Finance</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 1504</string>
			<key>Email</key>
			<string>payroll@shef.ac.uk</string>
		</dict>
		<key>University Switch Board</key>
		<dict>
			<key>Phone</key>
			<string>0114 222 2000</string>
		</dict>
	</dict>
</dict>
</plist>
