<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Pre-Arrival</string>
		<dict>
			<key>Activity</key>
			<string>Prepare an induction pack</string>
			<key>Details</key>
			<string>Prepare an induction pack for the new starter which could include a bank details form, a departmental structure chart, campus maps, and other documents to assist the appointee’s induction. This could be sent to the appointee in advance of their start date</string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Ensure the appointee is aware of arrangements for their first day</string>
			<key>Details</key>
			<string>Contact the new starter to:advise where, when and who to report to on their arrival on their first dayprovide details of their induction programme</string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Prepare workspace and equipment</string>
			<key>Details</key>
			<string>Ensure that a workspace is ready for the appointee, and that all necessary equipment is ready e.g. PC and phone, including any additional equipment or adjustments identified during the recruitment process, if relevant.</string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Assign a buddy*if relevant</string>
			<key>Details</key>
			<string>Assign a buddy to the new starter </string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
	</array>
	<array>
		<string>First Week</string>
		<dict>
			<key>Activity</key>
			<string>Obtain uCARD</string>
			<key>Details</key>
			<string>Visit CiCS (Corporate Information &amp; Computing) to obtain a uCard and computer account. A contract or photographic identification will be required. </string>
			<key>Responsible person</key>
			<string>New starter</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Meet with Payroll &amp; Pensions</string>
			<key>Details</key>
			<string>Payroll &amp; Pensions teams to ensure that they have made an appointment to meet with the new starter.The new starter will need to have completed their bank details form which is available on the staff induction webpages.</string>
			<key>Responsible person</key>
			<string>Payroll &amp; Pensions teamsNew starter </string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Tour of department</string>
			<key>Details</key>
			<string>Arrange for the new starter to receive a tour of the department </string>
			<key>Responsible person</key>
			<string>Induction Coordinator </string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Introductions</string>
			<key>Details</key>
			<string>Arrange for the new starter to be introduced to other staff in the team/department</string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>IT overview</string>
			<key>Details</key>
			<string>Arrange for the new starter to receive a demonstration on using IT tools which may include MUSE, myJob and Google accounts</string>
			<key>Responsible person</key>
			<string>Induction Coordinator </string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Induction meeting with line manager</string>
			<key>Details</key>
			<string>Arrange for the new starter to meet with their line manager to discuss their new role and key information about the department’s working practices and procedures.</string>
			<key>Responsible person</key>
			<string>Induction CoordinatorLine Manager</string>
		</dict>
	</array>
	<array>
		<string>First 3 Months</string>
		<dict>
			<key>Activity</key>
			<string>Visit staff induction webpages</string>
			<key>Details</key>
			<string>Review induction information available including health and safety information, and complete online fire training and equality and diversity training.</string>
			<key>Responsible person</key>
			<string>New starter</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Induction meetings with other staff</string>
			<key>Details</key>
			<string>Arrange for the new starter to meet with other staff in the department as appropriate. This could include the Head of Department and/or other members of the appointee’s team.</string>
			<key>Responsible person</key>
			<string>Induction Coordinator</string>
		</dict>
		<dict>
			<key>Activity</key>
			<string>Attend induction events (optional) </string>
			<key>Details</key>
			<string>All new staff are encouraged to attend the ‘Welcome to the University’ event hosted by the Vice-Chancellor as well as the new starter coffee mornings and campus tours.Visit http://www.sheffield.ac.uk/hr/sld/newstaff/welcomepack/indevents for further information.</string>
			<key>Responsible person</key>
			<string>New starter</string>
		</dict>
	</array>
</array>
</plist>
